# Environment configuration files
.env

# Dependency directories
node_modules/
*/node_modules/

build/
*.tsbuildinfo

# Exclude all dist folders and their contents everywhere in the project
dist/
**/dist/

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE configuration
.vscode/
.idea/
*.swp
*.swo
*~

# 操作系统文件
.DS_Store
Thumbs.db
Traller.pem
action.txt
